<div>
    {% comment %}
    INTRODUCTION
    {% endcomment %}
    <h2 id="general">Scope</h2>
    <p>
        This workshop aims to discuss challenges and opportunities given the changing landscape of where, how and by
        whom
        research is produced. Progress toward democratizing AI research has been centered around making knowledge (e.g.
        class materials), established ideas (e.g. papers) and technologies (e.g. code, compute) more accessible.
        However,
        open, online resources are only part of the equation. Growth as a researcher requires not only learning by
        consuming
        information individually, but hands-on practice whiteboarding, coding, plotting, debugging, and writing
        collaboratively, with either mentors or peers. Of course, making "collaborators" more universally accessible is
        fundamentally more difficult than, say, ensuring all can access arXiv papers, because scaling people and
        research
        groups is much harder than scaling websites. Can we nevertheless make access to collaboration itself more open?
    </p>
    <p>
        From the renaissance until the late 19th century, individuals often pursued science without being affiliated
        with an
        institution. The professional scientist only emerged in the 19th century with the development of national
        research
        agendas and funding. Now, we are again in the midst of a change in the paths and institutions that spur
        scientific
        progress. The research landscape today is increasingly heterogeneous and characterized by a mix of traditional
        academic institutions, industry research labs, and community research groups (Masakhane, ML Collective,
        EleutherAI,
        MD4SG and others). Often the boundary blurs, as labs collaborate across academic boundaries on
        cross-institutional
        research efforts over long time horizons (e.g. Cohere For AI, Big Science Workshop). What has driven this
        change?
        The question of how we collaborate is intrinsic to understanding and accelerating scientific progress. Often,
        how we
        collaborate is a result of both "how we'd ideally like to collaborate" and "how we are incentivized to
        collaborate".
        Sometimes, changes in how we collaborate can be a catalyst for evolving the incentives and institutions
        themselves.
        This workshop provides an important forum for discussion on this topic, by both drawing from the perspectives
        not
        only of researchers inside machine learning, but also from the experience of other disciplines such as
        philosophy
        and history.
    </p>

    {% comment %}
    ACCESSIBILITY
    {% endcomment %}
    <p id="accessibility">
        <strong>Accessibility:</strong>
        We are committed to making this workshop
        accessible to everybody. Please
        notify the organizers in advance of the workshop if you require any accommodations or if there is
        anything we can do to make this workshop more accessible to you.
    </p>

    {% comment %}
    CONTACT EMAIL ADDRESS

    Display the contact email address set in the configuration file.
    {% endcomment %}
    <p id="contact">
        <strong>Contact:</strong>
        Please email
        {% if page.email %}
        {% for email in page.email %}
        {% if forloop.last and page.email.size > 1 %}
        or
        {% else %}
        {% unless forloop.first %}
        ,
        {% endunless %}
        {% endif %}
        <a href='mailto:{{email}}'>{{email}}</a>
        {% endfor %}
        {% else %}
        fatemeh@ucsd.edu
        {% endif %}
        for more information.
    </p>
    <hr />

    {% comment%}
    CODE OF CONDUCT
    {% endcomment %}
    <h2 id="code-of-conduct">Code of Conduct</h2>

    <p>
        Everyone who participates in this workshop is required to conform to the <a
            href="https://nips.cc/public/CodeOfConduct">NeurIPS Code of Conduct</a>.
    </p>
    <hr />

    {% comment%}
    ATTENDANCE
    {% endcomment %}
    <h2 id="attendance">Attendance</h2>
    <p>
        You need to be registered at {{ page.address }}, in order to be able to attend the workshop. The workshop, will
        be hosted hybrid this year, with the panel taking place in person at the conference. The workshop will take
        place on {{ page.workshop_date }}.
    </p>
    <hr />

    <h2 id="general">Call for Papers</h2>
    <p>
        We invite position (up to 4 pages) and research papers (up to 8 pages) on topics related to those listed above.
        These topics may include:
    </p>
    <ul>
        <li> Research studies in open research communities/cross-institutional projects. </li>
        <li> Incentives for broadening collaboration :How to improve equity in computational resources across different
            research institutions. </li>
        <li> Cultural changes for open collaboration </li>
    </ul>

    More details about submission guidelines, formatting and deadlines will be provided soon.

</div>